<main>
    <div class="profile">
        <img src="<%= current_user.img_url %>" alt="ユーザーの画像">
        <div>
            <p><%= current_user.name %></p>
            <button type="button" id="logout-button">ログアウト</button>
        </div>
    </div>
            
    <div class="menu">
        
        <a href="/schedule/requests">
            <img src="https://cdn-icons-png.flaticon.com/512/3652/3652221.png">
            <% if current_user.is_parent? %>
            <h1>カテキョ申請</h1>
            <% elsif current_user.is_teacher? %>
            <h1>カテキョ承認</h1>
            <% end %>
        </a>
        
        <a href="/schedules">
            <img src="https://cdn-icons-png.flaticon.com/512/2083/2083211.png">
            <h1>カテキョ日程</h1>
        </a>
        
        <% if current_user.is_teacher? %>
        <a href="/salary">
            <img src="https://cdn-icons-png.flaticon.com/512/126/126230.png">
            <h1>勤怠</h1>
        </a>
        <% end %>
    
        <a href="/settings">
            <img src="https://cdn-icons-png.flaticon.com/512/563/563541.png">
            <h1>設定</h1>
        </a>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    const logoutButton = document.getElementById("logout-button");
    logoutButton.onclick = () => {
        liff.init({liffId: "<%= '2001000375-J0eV1n54' %>"}).then(()=>{
            liff.logout();
            $.post("/logout").then(() => {
                window.location = "/";
            }).catch(err => {
                console.log(err);
            });
        });
    }
</script>
