<!DOCTYPE html>
<html>
<head>
    <title>LINE LIFFテスト</title>
</head>
<body>
    <!-- スクリプトを読み込む -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script type="text/javascript">
    
        // LINE LIFF初期化と自動ログイン
        liff.init({
            // LIFF IDはリンクの末尾
            liffId: '2000738317-BrwapmbM'
        }).then(() => {
            console.log('LIFF初期化成功');
        
            // ユーザーがログインしていない場合、自動ログインを試みる
            if (!liff.isLoggedIn()) {
                liff.login();
            } else {
                // すでにログイン済みの場合、ログイン手続きは不要なのでここに何も記述しない
            }
            
            // LINE IDとユーザー情報を取得
            getLineIDToken();
            
        }).catch((err) => {
            // エラーをキャッチ
            console.log(err.code, err.message);
        });

        function getLineIDToken() {
            if (liff.isLoggedIn()) {
                const idToken = liff.getIDToken();
                let displayName, pictureUrl, userId;
                
                liff.getProfile()
                    .then((profile) => {
                        displayName = profile.displayName;
                        pictureUrl = profile.pictureUrl;
                        userId = profile.userId;

                        // IDによってリダイレクトを変更する
                        let redirectUrl = "";
                        // my line id is  "Ud8ad4ebf8e3482fa10e3a0c21ab32390";

                        const parentList = ["Ud8ad4ebf8e3482fa10e3a0c21ab32390"];
                        
                        if (parentList.includes(userId)) {
                            // プロフィール情報をSinatraアプリケーションに送信
                            $.post("/parent", { 
                                name: displayName, 
                                img_url: pictureUrl, 
                                line_id: userId 
                            }, function(response) {
                                console.log("Parentが作成されました。 Response: " + response);
                                
                                window.location.href = '/' + userId;
                            });
                        }
                    })
                    .catch((error) => {
                        console.error("プロフィール情報の取得エラー：" + error);
                    });
                    
                console.log("リダイレクトされていません！");
                console.log("idToken: " + idToken);
            } else {
                // ログインされていない場合、ログインを促す
                liff.login();
            }
        }    
        
        function profileConsoleTest(profile) {
            console.log("ユーザー名：" + displayName);
            console.log("画像：" + pictureUrl);
            console.log("ID：" + userId);
        }
    </script>
</body>
</html>
