<!DOCTYPE html>
<html>
<head>
    <title>カテキョ日程</title>
    <img src="https://cdn-icons-png.flaticon.com/512/3652/3652221.png" class="card-img-top" alt="カテキョ申請">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h1>カテキョ日程</h1>

    <div id="requestContainer"></div>

    <button name="addScheduleButton">日程を追加</button>

    <style>
        .schedule-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>

</body>
</html>