<!DOCTYPE html>
<html>
<head>
    <title>設定</title>
    <img src="https://cdn-icons-png.flaticon.com/512/563/563541.png" class="setting-image" alt="設定">
    <p class="setting-title">設定</p>
</head>

<style>
    body {
        background-color: #B0C4DE;
    }
    
    .setting-image {
        display: block;
        margin: 0 auto;
        max-width: 20%;
        max-height: 20%;
    }
    
    .setting-title {
        text-align: center;
        font-size: 24px; /* フォントサイズを調整 */
        font-weight: bold;
    }
    
    .student-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }

</style>

<body>
    <p>お子さん</p>

    <div id="studentContainer">
        <% if @students.empty? %>
            <p>お子さんが登録されていません。</p>
        <% else %>
            <% @students.each do |student| %>
                <div class="student-card">
                    <p><strong>生徒名：</strong> <%= student.name %> </p>
                    <p><strong>学年：</strong> <%= student.grade_id %> </p>
                    <p><strong>学校名：</strong> <%= student.school %> </p>
                    <a href="/edit_student/<%= student.id %>">編集</a>
                </div>
            <% end %>
        <% end %>
    </div>
    
    <a href="/add_student">
        <button name="addStudentButton">お子さんを追加</button>
    </a>
    <br>
    
</body>
</html>
